<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    
</head>
<body>
 <div style="display:flex ; flex:1;">
    <div><img src="{{items.image}}" width="500px" alt=""></div>
    <div style="display: flex; justify-content: center;   width: 100%;">
        <div>
            <h2 style="text-align: center;">{{items.title}}</h2>
            <h3 style="text-align: center;">Course detail</h3>
            <p style="text-align: center;">{{items.summary}}|capfirst</p>

            <div style="display: flex; justify-content: center ; padding: 20px;">
                
                 <a href="{%url 'coursera:buy' %}" class="btn btn-primary" style="background-color: aqua; padding: 10px; border-radius: 8px; text-decoration: none; color: black;"> Buy Now $ {{items.price}}</a>
                <a href="{% url 'coursera:delete' items.id %}"  style="padding: 10px; margin-left: 400px;  border-radius: 8px; background-color: aqua; color: black; text-decoration: none;">Delete</a>
                 
                
                </div>

        </div>
    </div>

 </div>
    


</body>
</html>